/* Block cursors */

.blocklyDraggable {
    cursor: -webkit-grab !important;
}

.blocklyDraggable:active {
    cursor: -webkit-grabbing !important;
}

/* Selected blocks and blocks before dropping onto others */

.blocklySelected > .blocklyPath,
.blocklyHighlightedConnectionPath{
    stroke: #4b2e4c;
    stroke-width: 3px;
    fill: none;
}

/* Remove 3D effect */

.blocklyPathLight {
    opacity: 0;
}

/* Block text */

.blocklyText {
    text-shadow: 0 0 5px #444;
    fill: white;
}

/* Text entry */

.blocklyEditableText > rect {
    fill: white;
    fill-opacity: 0.6;
}

/* Mutator window */

.blocklyMutatorBackground {
    fill: #eee;
}