/* Containers */

html {
    background-color: white;
    overflow: hidden;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eee;
    width: 822px;
    height: 477px;
}

/* Focus Markers */

* {
    outline: none;
}

/* XML */

#toolbox-data {
    display: none;
}

/* Buttons */

.btn {
    padding: 5px 10px;
    cursor: pointer;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    background-color: rgb(235, 243, 225);
    background: -moz-linear-gradient(top, #ffffff 0%, #ebf3e1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ebf3e1));
    background: -webkit-linear-gradient(top, #ffffff 0%,#ebf3e1 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#ebf3e1 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#ebf3e1 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#ebf3e1 100%);
    border: 1px solid rgb(182, 218, 120);
    color: rgb(97, 131, 36);
    border-radius: 8px;
}

.btn:hover {
    color: rgb(215, 144, 53);
    text-decoration: none;
    border-color: rgb(241, 205, 156);
    background: -moz-linear-gradient(top, #ffffff 0%, #f9f5e4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f9f5e4));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f9f5e4 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f9f5e4 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f9f5e4 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#f9f5e4 100%);
}

.btn:active {
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn .fa {
    margin-right: 2px;

}

#btn-container .btn {
    border-radius: 0;
}

#btn-container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

#btn-container :first-child {
    border-bottom-left-radius: 8px;
}

#btn-container :not(:last-child) {
    border-right: 0;
}

#btn-container :last-child {
    border-top-right-radius: 6px;
}

#btn-container .only-child {
    border-radius: 0 6px 0 8px;
}

/* Run button */

#run .fa {
    color: #58BB69;
}

/* Help button */

#help .fa {
    color: #336699;
}

/* Disable workspace */

#workspace.disabled {
    pointer-events: none;
    opacity: 0.5;
}